<!DOCTYPE html>
<html>
  <head>
    <title>看图解题</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/bootstrap-icons.min.css" />
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery-3.6.4.min.js"></script>
    <script src="/static/js/index.js"></script>
  </head>
  <body>
    <div class="container">
        <div class="row mt-2 mb-3">
          <div class="col">
            <form enctype="multipart/form-data">
              <div class="row">
                <label for="formFile" class="col-3 col-form-label">上传试题图片</label>
                <input class="col form-control" type="file" id="formFile" accept=".jpg" onchange="upload()">
              </div>
            </form>
          </div>
          <div class="col position-relative">
            <button type="button" class="btn btn-primary position-absolute top-50 start-50 translate-middle" id="submitBtn" onclick="submit()">
              <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
              解答应用题
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <img id="imgPreview" class="img-fluid" src="">
          </div>
          <div class="col-6"><p id="result" class="text-break"></p></div>
        </div>
    </div>
    <div class="toast-container position-fixed bottom-0 start-50 translate-middle-x p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body"><p class="text-break"></p></div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>
    <script>
      var source = new EventSource("{{ url_for('sse.stream') }}");
      source.addEventListener('answer', function(event) {
        var data = JSON.parse(event.data);
        $('#result')[0].innerText += data.message;
      }, false);
      source.addEventListener('error', function(event) {
        hint('danger', "Failed to connect to event stream. Is Redis running?");
      }, false);
    </script>
  </body>
</html>